<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Example</h1>
            <span>Example</span>
            <span><address>Example</address><time>Example</time></span>
        </header>
        <p>
            <em>Example</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Example</h1>
            <span>Example</span>
            <span><address>Example</address><time>Example</time></span>
        </header>
        <p>
            <em>Example.</em>
        </p>
    </article>
</section>
