<section class="thirteen columns">
  <h1>Employment</h1>
  <article>
    <header>
      <h1>RACKSPACE HOSTING – PRODUCT MANAGER FOR MOBILE/DEVELOPER EXPERIENCE</h1>
      <span>
        <address>Austin, TX</address>
        <time>2014 to Present</time>
      </span>
    </header>
    <p>In my current role, I divide my time between two diverse roles with a broad range of technologies, audiences, and deliverables. The first is Product Manager for the design, execution, and delivery of the official Rackspace mobile applications on iOS
      and Android, in addition to vendor selection and implementation for additional mobile projects and partners. The second is Product Manager for the Rackspace Developer experience group, which includes a diverse body of initiatives, including developer
      documentation, SDKs and tools, our promotional programs including “developer+”, reference architectures/automation, and external projects powered by the Developer Experience team. These responsibilities cover traditional/agile Product Management,
      Program Management, and Product Marketing.</p>
  </article>
  <article>
    <header>
      <h1>RACKSPACE HOSTING – GROUP PRODUCT MANAGER</h1>
      <span>
        <address>Austin, TX</address>
        <time>2012 to 2014</time>
      </span>
    </header>
    <p>In this role, I was responsible for Product Management and delivery of key technologies and offerings in the world’s second largest public cloud infrastructure. This involved a range of skills from traditional Product Management, to Dev/Ops and agile/sprint management, to Program Management and Product Marketing, all in a continuous integration (CI) environment that has Rackspace running a massive, profitable public cloud on leading edge (trunk) open source software. Common deliverables included creating and executing product plans and strategies around computing form factors, applications, technologies, and operating systems to design customer facing services, interaction design for customer experience, and developing feature and roadmap requirements to support internal and external customers.</p>
  </article>
  <article>
    <header>
      <h1>SYMANTEC - SYMANTEC.CLOUD -- SENIOR TECHNICAL PRODUCT MARKETING/MANAGEMENT</h1>
      <span>
        <address>Austin, TX / Mountain View, CA</address>
        <time>2008 to 2012</time>
      </span>
    </header>
    <p>In this role, I was responsible for researching, creating and delivering materials and strategies to support internal and external initiatives and launches for the Symantec.cloud division of Symantec (formerly MessageLabs and SPN). Focus areas included customer messaging and research, competitive analysis and training, and communication of roadmaps and deliverables to internal and external customers worldwide. To succeed in this role, I maintained and developed significant technology and industry experience, covering email and web security (including viruses, malware, and spam), email management (archiving and continuity), and endpoint protection (keeping physical and virtual systems free of virus, malware, and intrusion).
</p>
  </article>
  <article>
    <header>
      <h1>SYMANTEC - HOSTED SERVICES - SENIOR MANAGER PRODUCT MANAGEMENT</h1>
      <span>
        <address>Austin, TX / Mountain View, CA</address>
        <time>2006 to 2008</time>
      </span>
    </header>
    <p>Chartered with the creation of the first hosted services platform from Symantec, I created requirements, managed, and delivered the Symantec Protection Network (SPN). This multi- service platform launched first with an Online Backup solution, leveraging my experience with web and storage technologies, as well as a backend architecture designed to support multiple services and sales models for the future. In addition to traditional product management responsibilities like requirements, training, and user experience guidance, the role involved significant customer, partner, community, analyst, and press relations outreach for communication of strategy and vision. I launched and authored the SPN blog and moderated the technical community, including outreach to partners and customers to build and maintain relationships.
</p>
  </article>
  <article>
    <header>
      <h1>SYMANTEC - DATA MANAGEMENT GROUP - SENIOR TECHNICAL PRODUCT MANAGER</h1>
      <span>
        <address>Austin, TX / Mountain View, CA </address>
        <time>2005 to 2006</time>
      </span>
    </header>
    <p>     As part of a cross functional team responsible for maintaining and driving the engineering and product relationship with multiple OEM vendors such as Dell, HP, and Gateway, I worked across multiple disciplines to deliver joint product and strategy releases around the industry leading Backup Exec family of backup and recovery software. Working with large technology partners, I took products and revisions from concept to delivery phase, including developing and delivering requirements, managing delivery and engineering schedules, and communicating technical and marketing strategies unique to each strategic ISV.
    </p>
  </article>
  <article>
    <header>
      <h1>DELL INC - SOFTWARE ENGINEERING, ISV SOLUTIONS FOR DATA PROTECTION</h1>
      <span>
        <address>Austin, TX</address>
        <time>2002-2005</time>
      </span>
    </header>
    <p> Joining at the inception of the Enterprise Tape Backup Solutions team, I managed the strategy, integration, and delivery of the Dell PowerSuites family of third party backup and archival products. This involved working with multiple third party software providers, including VERITAS (now Symantec), Computer Associates, CommVault, and Yosemite (now Barracuda) to shape and integrate their solutions for tight integration with the Dell PowerVault line of enterprise tape hardware. This initiative required long term planning, authoring internal and external training and marketing communication, and a solid technical expertise that covered technologies including SCSI, iSCSI, Fibre Channel, Infiniband, and integration with sophisticated SAN solutions.
    </p>
  </article>
</section>
