<section class="thirteen columns">
  <h1>Skills</h1>
  <article>
    <header>
      <h1>Software engineering & web development</h1>
    </header>

    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>Making technology accessible, simple, and enjoyable for the widest possible range of users</em>
    </p>
    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>A passion for web, mobile, and cloud technologies, and the communities that invent, support, and deliver them</em>
    </p>

    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>Experience and firm belief that User Experience and Design can turn a potential user into an emotional and loyal customer</em>
    </p>
    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>Advanced knowledge of modern operating environments, including Windows, Mac OS X, Linux, iOS, Android, and virtualization technologies</em>
    </p>
    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>Evaluation of new hardware and software, and projecting direction and momentum of burgeoning technologies</em>
    </p>
    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>Proficient at technology analysis across local, mobile, web and cloud environments</em>
    </p>
    <p>
      <i class="fa-li fa-circle-o"></i>
      <em>Freelance and professional experience with web (PHP, Perl, Ruby/Rails, SQL, etc.) and application (C, Objective C, Object Pascal, Python, Java) technologies</em>
    </p>
  </article>
</section>
